.index__start
    .index__titles
        .index__titles_subtitle
            font-size: 5.1rem
            color: #494949
            font-weight: 600
            line-height: 55px
            margin: 85px 0 30px 0
        .index__titles_name
            font-size: 7.7rem
            color: #5A3A51
            font-weight: 600
            line-height: 75px
        .index__titles_btn
            margin: 85px 0 61px 0
            a
                font-size: 2rem
                color: #5A3A51
                padding: 20px 48px
                line-height: initial
                border-radius: 130px
                background-color: #fff
                display: inline-block
                text-align: center
                box-shadow: 0 0 0 0 #000
            :hover
                background-color: #FB8585
                transition: 0.3s
                color: #fff

.index__help
    padding: 100px 0 60px 0
    .index__help_about
        .index__help_title
            font-size: 2.4rem
            font-weight: 600
            margin-bottom: 35px
            color: #5A3A51
        .index__help_list
            ul
                li
                    list-style-type: disc
                    font-size: 1.6rem
                    margin-top: 22px
                    line-height: 22px
    .index__help_phone
        position: relative
        a
            position: absolute
            font-size: 4.1rem
            color: #5A3A51
            right: 0px
            bottom: 95px
        :hover
            text-decoration: underline
            transition: 0.3s


.index__steps
    .index__steps_block
        padding: 70px 0 120px 0
        .index__steps_title 
            color: #EBB700
            font-size: 2.4rem
            font-weight: 600
            margin-bottom: 35px
        .index__steps_list
            ul
                li
                    list-style-type: disc
                    font-size: 1.6rem
                    margin-top: 22px
                    line-height: 22px


.index__doctors
    .index__doctors_block
        display: flex
        justify-content: flex-end
        padding: 95px 0
        .index__doctors_title
            font-size: 2.4rem
            font-weight: 600
            color: #FB8585
            margin-bottom: 35px
        .index__doctors_list
            ul
                li
                    list-style-type: disc
                    font-size: 1.6rem
                    margin-top: 22px
                    line-height: 22px
            .index__doctors_extra 
                margin-top: 22px
                font-size: 1.4rem


.callback__form
    padding: 45px 0
    .callback__form_title
        color: #5A3A51
        font-weight: 600
        font-size: 2rem
        text-align: center
        margin-bottom: 25px
    .callback__form_container
        align-items: center
        display: flex
        flex-direction: column
        input
            border: 1px solid #D7D7D7
            padding: 10px 12px
        :not(:last-child)
            margin-bottom: 5px
        :focus
            outline: none
        :active
            outline: none
        .agree
            margin: 25px 0
            .callback__form_agree
                a
                    text-decoration: underline
                :hover
                    color: #C7CD9F
                    transition: 0.3s


#footer
    padding: 30px 0
    .title
        font-size: 1.6rem
        font-weight: 600
        margin-bottom: 5px
    .txt
        line-height: 22px
    .footer__info
        .footer__info_logo
            margin-bottom: 25px
            a
                font-weight: 600
                font-size: 2rem
                margin: 0 55px 0 0
        .footer__info_phone
            margin-bottom: 25px
            font-size: 2rem
            a
            :hover
                text-decoration: underline
                transition: 0.3s
        .footer__info_hours,
        .footer__info_adress
            margin-bottom: 25px