.index__start
    .index__titles
        .index__titles_subtitle
            font-size: 5.1rem
            color: #494949
            font-weight: 600
            line-height: 55px
            margin: 85px 0 30px 0
        .index__titles_name
            font-size: 7.7rem
            color: #5A3A51
            font-weight: 600
            line-height: 75px
        .index__titles_btn
            margin: 85px 0 61px 0
            a
                font-size: 2rem
                color: #5A3A51
                padding: 20px 48px
                line-height: initial
                border-radius: 130px
                background-color: #fff
                display: inline-block
                text-align: center
                box-shadow: 0 0 0 0 #000
            :hover
                background-color: #FB8585
                transition: 0.3s
                color: #fff

.index__help
    padding: 100px 0 50px 0
    .index__help_about
        .index__help_title
            font-size: 2.4rem
            font-weight: 600
            margin-bottom: 30px
            color: #5A3A51
        .index__help_list
            ul
                li
                    list-style-type: disc
                    font-size: 1.6rem
                    margin-top: 20px
    .index__help_phone
        position: relative
        a
            position: absolute
            font-size: 4.1rem
            color: #5A3A51
            right: 0px
            bottom: 45px
