@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,600&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #000;
  font-weight: 400;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  position: relative;
  background-image: url(/assets/img/index-bg.png);
}

#header .container .header__row {
  padding: 22px 0;
}
#header .container .header__row .header__main {
  display: flex;
  align-items: center;
}
#header .container .header__row .header__main .header__main_logo a {
  font-weight: 600;
  font-size: 2rem;
  margin: 0 55px 0 0;
}
#header .container .header__row .header__main .header__main_phone {
  font-size: 2rem;
}
#header .container .header__row .header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#header .container .header__row .header__menu .header__menu_nav ul {
  display: flex;
}
#header .container .header__row .header__menu .header__menu_nav ul li {
  list-style-type: none;
  font-size: 1.6rem;
  margin: 0 35px 0 0;
}
#header .container .header__row .header__menu .header__menu_btn a {
  font-size: 1.6rem;
  padding: 15px 40px;
  border-radius: 30px;
  border: 2px solid #C7CD9F;
  display: block;
  line-height: initial;
}
#header .container .header__row .header__menu .header__menu_btn :hover {
  background-color: #C7CD9F;
  color: #fff;
  transition: 0.3s;
}

html {
  font-size: 10px;
  font-family: "Montserrat", "Arial", sans-serif;
}
html body {
  font-size: 1.6rem;
}

a:hover {
  text-decoration: none;
  color: initial;
}

.index__start .index__titles .index__titles_subtitle {
  font-size: 5.1rem;
  color: #494949;
  font-weight: 600;
  line-height: 55px;
  margin: 85px 0 30px 0;
}
.index__start .index__titles .index__titles_name {
  font-size: 7.7rem;
  color: #5A3A51;
  font-weight: 600;
  line-height: 75px;
}
.index__start .index__titles .index__titles_btn {
  margin: 85px 0 61px 0;
}
.index__start .index__titles .index__titles_btn a {
  font-size: 2rem;
  color: #5A3A51;
  padding: 20px 48px;
  line-height: initial;
  border-radius: 130px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  box-shadow: 0 0 0 0 #000;
}
.index__start .index__titles .index__titles_btn :hover {
  background-color: #FB8585;
  transition: 0.3s;
  color: #fff;
}

.index__help {
  padding: 100px 0 50px 0;
}
.index__help .index__help_about .index__help_title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: #5A3A51;
}
.index__help .index__help_about .index__help_list ul li {
  list-style-type: disc;
  font-size: 1.6rem;
  margin-top: 20px;
}
.index__help .index__help_phone {
  position: relative;
}
.index__help .index__help_phone a {
  position: absolute;
  font-size: 4.1rem;
  color: #5A3A51;
  right: 0px;
  bottom: 45px;
}

@media (min-width: 960px) {
  #header .container {
    max-width: 1360px;
    padding: 0 40px;
  }
}